<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<style>
		
		body {
			margin: 0;
			padding: 0;
		}

		.story {
			margin: 100px auto;
			max-width: 768px;
			padding: 15px;
		}
	</style>
	{{{styles}}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700"></link>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
	<style>
		{{{ read 'node_modules/clay-kiln/dist/clay-kiln-storybook.css' }}}
	</style>
  </head>
  <body>
	<div class="story">
		{{> (lookup . 'partialName') state }}
	</div>
	<div class="clay-kiln">
		<div id="kiln-app"></div>
	</div>
	<script>
		// scaffold kiln for preloading (models, hbs templates, schemae, data, locals)
		window.kiln = window.kiln || {}
		window.kiln.componentModels = window.kiln.componentModels || {};
		window.kiln.componentData = window.kiln.componentData || {};
		window.kiln.componentTemplates = window.kiln.componentTemplates || {};
		window.kiln.preloadSchemas = window.kiln.preloadSchemas || {};

		{{#each state._componentSchemas}}
        window.kiln.preloadSchemas['{{ this.name }}'] = {{{stringify (yaml (read this.schema)) }}};
		{{/each}}


		window.kiln.componentData = {{{ default (replace (stringify @root) '</script>' '<"+"/script>') '{}' }}}
        window.kiln.locals = {{{ default (stringify state.locals) '{}' }}};

		// add the environment variables for model.js
        window.process = window.process || {};
        window.process.env = {{{ default (stringify state._envVars) '{}' }}};
	</script>
	{{#each scripts}}
		<script type="text/javascript" src="{{this}}"></script>
	{{/each}}
	<script>
    	{{{ read 'node_modules/clay-kiln/dist/clay-kiln-biscuits.js' }}}
  	</script>
  </body>
</html>